@page "/games"
@layout Shared.Layouts.GamesLayout

<!-- Title banner -->
<div class="relative mud-width-full" style="height: 500px;">
    <!-- Carousel background detached from the DOM -->
    <MudCarousel Class="absolute mud-width-full mud-height-full" TData="object" AutoCycle="true" AutoCycleTime="@TimeSpan.FromSeconds(3)" ShowArrows="false" ShowBullets="false">
        <MudCarouselItem Class="mud-width-full mud-height-full" Transition="@CarouselItemTransition" Color="@Color.Primary" />
        <MudCarouselItem Class="mud-width-full mud-height-full" Transition="@CarouselItemTransition" Color="@Color.Secondary" />
        <MudCarouselItem Class="mud-width-full mud-height-full" Transition="@CarouselItemTransition" Color="@Color.Tertiary" />
    </MudCarousel>
    <!-- Title text on top of the detached background -->
    <div class="relative mud-width-full mud-height-full d-flex justify-center align-center"> <!-- position has to be non-static in order to draw over the non-static-positioned mud carousel elements -->
        <header>
            <MudText Class="ch-header-text" Typo="@Typo.h1" Align="@Align.Center">
                Games
            </MudText>
        </header>
    </div>
</div>
<!-- Content -->
<MudContainer MaxWidth="@MaxWidth.Large">
    <div class="my-16">
        <MudText Typo="@Typo.h2" Align="@Align.Center">
            Plugins Showcase
        </MudText>
    </div>
    <MudStack Class="my-10" Row="false" Spacing="16">
        <CHPortfolioProjectCard Title="Animation Setup" TeamSize="1" DevelopmentTime="About 6 Months" ProjectStatus="In Development" ProjectHref="https://github.com/ChristianHinko/AnimationSetup">
            <MudText Typo="Typo.body1">
            </MudText>
        </CHPortfolioProjectCard>
        <CHPortfolioProjectCard Title="Strength Collision Queries" TeamSize="2" DevelopmentTime="About 2 Months" ProjectStatus="Finished" ProjectHref="https://github.com/b2hinkle/GameCore/tree/master/Source/GameCore/Public/BlueprintFunctionLibraries/CollisionQuery">
            <MudText Typo="Typo.body1">
            </MudText>
        </CHPortfolioProjectCard>
        <CHPortfolioProjectCard Title="Ability System Setup" TeamSize="2" DevelopmentTime="About 2 Years" ProjectStatus="Finished" ProjectHref="https://github.com/ChristianHinko/AbilitySystemSetup">
            <MudText Typo="Typo.body1">
            </MudText>
        </CHPortfolioProjectCard>
        <CHPortfolioProjectCard Title="Input Setup" TeamSize="2" DevelopmentTime="About 1 Month" ProjectStatus="Finished" ProjectHref="https://github.com/ChristianHinko/InputSetup">
            <MudText Typo="Typo.body1">
            </MudText>
        </CHPortfolioProjectCard>
        <CHPortfolioProjectCard Title="Property Wrapper" TeamSize="2" DevelopmentTime="About 16 Months" ProjectStatus="Finished" ProjectHref="https://github.com/b2hinkle/GameCore/tree/master/Source/GameCore/Public/Types/PropertyWrappers">
            <MudText Typo="Typo.body1">
            </MudText>
        </CHPortfolioProjectCard>
    </MudStack>
</MudContainer>

@code
{
    private Transition CarouselItemTransition { get; set; } = Transition.Slide;
}
