@page "/games/resume"
@layout Shared.Layouts.MainLayout
@using MudBlazorExtensionLibrary.Services
@inject MBELLayoutService LayoutService
@using CHWebApplication.Shared.Components.Resume

<PageTitle>Christian Hinkle - Resume</PageTitle>

<MudContainer MaxWidth="@MaxWidth.Medium">
    <!-- Resume header -->
    <div class="my-2"></div>
    <MudText Class="ch-resume-text-header" Typo="@Typo.h1" Align="@Align.Center">
        Christian Hinkle
    </MudText>
    <MudText Class="ch-resume-text-subheader" Typo="@Typo.body1" Align="@Align.Center">
        Unreal Engine | Online Multiplayer | C++ | Blueprint
    </MudText>
    <div class="my-2">
        <!-- Contact information -->
        <div class="mud-width-full d-flex flex-row justify-space-around">
            <div class="d-flex flex-row justify-center">
                <MudIcon Icon="@MBELIcons.Material.EarthAmericas" Color="@Color.Primary" Size="@Size.Small" />
                <div class="mx-1"></div>
                <MudLink Href="https://christianhinkle.com/" Target="_blank" Underline="@Underline.Always">
                    <MudText Typo="@Typo.body1">
                        https://christianhinkle.com/
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center">
                <MudIcon Icon="@Icons.Material.Filled.Email" Color="@Color.Primary" />
                <div class="mx-1"></div>
                <MudLink Href="mailto://christianhinko@gmail.com/" Target="_blank" Underline="@Underline.Always">
                    <MudText Typo="@Typo.body1">
                        christianhinko@gmail.com
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center">
                <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Color="@Color.Primary" />
                <div class="mx-1"></div>
                <MudLink Href="https://www.linkedin.com/in/christianhinko/" Target="_blank" Underline="@Underline.Always">
                    <MudText Typo="@Typo.body1">
                        christianhinko
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Color="@Color.Primary" />
                <div class="mx-1"></div>
                <MudLink Href="https://github.com/ChristianHinko" Target="_blank" Underline="@Underline.Always">
                    <MudText Typo="@Typo.body1">
                        ChristianHinko
                    </MudText>
                </MudLink>
            </div>
        </div>
    </div>
    <MudText Typo="@Typo.body1" Align="@Align.Center">
        Multiplayer game systems programmer with a love for powering video games through modular designs.
    </MudText>
    <MudText Typo="@Typo.body1" Align="@Align.Center">
        Passionately developing with Unreal Engine for 4+ years as an indie.
    </MudText>
    <div class="my-1"></div>
    <!-- Resume content -->
    <MudText Class="ch-resume-text-section" Typo="@Typo.h2">
        Education
    </MudText>
    <MudDivider Vertical="false" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Bachelor of Science in Computer Science
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Graduating May, 2023
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;Charleston Southern University - 3.4 GPA <span style="font-style: italic;">cum laude</span>
    </MudText>
    <MudText Class="ch-resume-text-section" Typo="@Typo.h2">
        Skills
    </MudText>
    <MudDivider Vertical="false" />
    <div class="mud-width-full d-flex flex-row justify-space-around">
        <div class="d-flex flex-column align-center">
            <MudText Style="font-weight: bold;" Typo="@Typo.body1">
                Programming Languages
            </MudText>
            <MudText Typo="@Typo.body1">
                C++
            </MudText>
            <MudText Typo="@Typo.body1">
                Blueprint Visual Scripting
            </MudText>
            <MudText Typo="@Typo.body1">
                C#
            </MudText>
        </div>
        <div class="d-flex flex-column align-center">
            <MudText Style="font-weight: bold;" Typo="@Typo.body1">
                Software
            </MudText>
            <MudText Typo="@Typo.body1">
                Unreal Engine
            </MudText>
            <MudText Typo="@Typo.body1">
                Git
            </MudText>
            <MudText Typo="@Typo.body1">
                GitHub
            </MudText>
            <MudText Typo="@Typo.body1">
                Visual Studio
            </MudText>
            <MudText Typo="@Typo.body1">
                Blender
            </MudText>
        </div>
        <div class="d-flex flex-column align-center">
            <MudText Style="font-weight: bold;" Typo="@Typo.body1">
                General
            </MudText>
            <MudText Typo="@Typo.body1">
                Debugging (IDE)
            </MudText>
            <MudText Typo="@Typo.body1">
                Source Control
            </MudText>
            <MudText Typo="@Typo.body1">
                Project Collaboration
            </MudText>
            <MudText Typo="@Typo.body1">
                Exploring Engine Code
            </MudText>
            <MudText Typo="@Typo.body1">
                Adaptable
            </MudText>
        </div>
        <div class="d-flex flex-column align-center">
            <MudText Style="font-weight: bold;" Typo="@Typo.body1">
                Other
            </MudText>
            <MudText Typo="@Typo.body1">
                3D Software
            </MudText>
            <MudText Typo="@Typo.body1">
                Drawing
            </MudText>
            <MudText Typo="@Typo.body1">
                Gaming
            </MudText>
        </div>
    </div>
    <MudText Class="ch-resume-text-section" Typo="@Typo.h2">
        Personal Experience in Projects
    </MudText>
    <MudDivider Vertical="false" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Animation Setup
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                September, 2022 - Present
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;• Make skinless Skeletal Mesh generation functionality for using animated skeletons
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make AttachmentAttacher component for building modular characters
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Custom Collision Queries
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                April, 2022 - June, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;• Make method for penetrating any hit while preserving the hit responses desired
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop function for making exit Hit Results relative to the forwards direction
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make function for modifying Hit Result trace data
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Optimize the query distance required for getting exit hits from the backwards direction
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop function for ordering entrance and exit Hit Results to the query's forwards direction
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop query that can lose strength based on distances between entrance and exit Hit Results
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Ability System Setup
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                May, 2020 - August, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop common initialization and uninitialization for Ability System Component
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop Gameplay Tag workflow for associating Input Actions with Gameplay Abilities
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make granting and removing of Ability Sets
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make a way to reuse Target Actors through several Ability Task usages
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make custom Gameplay Target Data Filters
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Input Setup
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                July, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop subsystem gathering Input Action references from game project and dynamic plugins
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Property Wrapper
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                June, 2021 - November, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;• Develop usage of FProperty pointers for Push Model replication and generic serialization
    </MudText>
</MudContainer>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutService.SetIsDarkMode(false);
    }
}
