@page "/games/resume"
@layout Shared.Layouts.MainLayout
@using MudBlazorExtensionLibrary.Services
@inject MBELLayoutService LayoutService
@using CHWebApplication.Shared.Components.Resume

<MudContainer MaxWidth="@MaxWidth.Medium">
    <div class="mt-16"></div>
    <MudText Class="ch-resume-text-header" Typo="@Typo.h1" Align="@Align.Center">
        Christian Hinkle
    </MudText>
    <MudText Class="ch-resume-text-section" Typo="@Typo.h2">
        Education
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Charleston Southern University - Bachelor of Science in Computer Science - 3.4 GPA <span style="font-style: italic;">cum laude</span>
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                Graduating May, 2023
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Class="ch-resume-text-section" Typo="@Typo.h2">
        Personal Projects
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Animation Setup
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                September, 2022 - Present
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;Contributions
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make skinless Skeletal Mesh generation function
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make skinless Skeletal Mesh component
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make attachment attacher component
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Custom Collision Queries
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                April, 2022 - June, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Ability System Setup
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                May, 2020 - August, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Input Setup
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                July, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Property Wrapper
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                June, 2021 - November, 2022
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Class="ch-resume-text-section" Typo="@Typo.h2">
        Work Experience
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Typo="@Typo.body1">
                Window Gang
            </MudText>
        </Title>
        <Date>
            <MudText Typo="@Typo.body1">
                Summer, 2019
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Typo="@Typo.body1">
        &emsp;Part-time window cleaning, pressure washing, and gutter cleaning
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;Employer: Mark Brazelton
    </MudText>
</MudContainer>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutService.SetIsDarkMode(false);
    }
}
