@page "/games/resume"
@layout Shared.Layouts.MainLayout
@using MudBlazorExtensionLibrary.Services
@inject MBELLayoutService LayoutService

<MudContainer MaxWidth="@MaxWidth.Medium">
    <MudText Typo="@Typo.h1" Align="@Align.Center">
        Christian Hinkle
    </MudText>
    <MudText Typo="@Typo.h2">
        Education
    </MudText>
    <div class="d-flex flex-row justify-space-between">
        <MudText Typo="@Typo.body1">
            Charleston Southern University - Bachelor of Science in Computer Science - 3.4 GPA
        </MudText>
        <MudText Typo="@Typo.body1">
            Graduating May, 2023
        </MudText>
    </div>
    <MudText Typo="@Typo.h2">
        Personal Projects
    </MudText>
    <div class="d-flex flex-row justify-space-between">
        <MudText Typo="@Typo.body1">
            Animation Setup
        </MudText>
        <MudText Typo="@Typo.body1">
            September, 2023 to Present
        </MudText>
    </div>
    <MudText Typo="@Typo.body1">
        &emsp;Contributions
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make skinless Skeletal Mesh generation function
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make skinless Skeletal Mesh component
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;• Make attachment attacher component
    </MudText>
    <MudText Typo="@Typo.h2">
        Work Experience
    </MudText>
    <div class="d-flex flex-row justify-space-between">
        <MudText Typo="@Typo.body1">
            Window Gang
        </MudText>
        <MudText Typo="@Typo.body1">
            Summer, 2019
        </MudText>
    </div>
    <MudText Typo="@Typo.body1">
        &emsp;Part-time window cleaning, pressure washing, and gutter cleaning
    </MudText>
    <MudText Typo="@Typo.body1">
        &emsp;Employer: Mark Brazelton
    </MudText>
</MudContainer>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutService.SetIsDarkMode(false);
    }
}
