<div class="@Class" style="@Style">
    <!-- Flexblox with video centered -->
    <div class="d-flex align-center justify-center mud-height-full mud-width-full">
        <div class="@(FitHeight ? "mud-height-full" : "mud-width-full")" style="aspect-ratio: @AspectRatio;"> <!-- block with aspect ratio for the video to fit inside of -->
            <MudLink Href="@("https://www.dailymotion.com/embed/video/" + VideoId + "?autoplay=1")" Target="_blank" Disabled=@(!Link)>
                <div class="mud-width-full mud-height-full"> <!-- wrapper block with pointer events for link -->
                    <CHDailymotionVideoEmbed Style="pointer-events: none;" VideoId="@VideoId" />
                </div>
            </MudLink>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public string VideoId { get; set; } = string.Empty;

    [Parameter]
    public string AspectRatio { get; set; } = "16 / 9";

    /// <summary>
    /// If true, have video fill width.
    /// If false, have video fill height.
    /// </summary>
    [Parameter]
    public bool FitHeight { get; set; } = false;

    [Parameter]
    public bool Link { get; set; } = false;
}
