<div class="d-flex flex-column gap-8 py-4">
    <!-- External hyperlinks -->
    <div class="d-flex flex-row justify-space-around">
        <MudTooltip Text="GitHub" Delay="@ExternalHyperlinkTooltipDelay">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/ChristianHinko/" Target="_blank" Size="@ExternalHyperlinkIconButtonSize" aria-label="GitHub" />
        </MudTooltip>
        <MudTooltip Text="Twitter" Delay="@ExternalHyperlinkTooltipDelay">
            <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Href="https://twitter.com/ChristianHinko/" Target="_blank" Size="@ExternalHyperlinkIconButtonSize" aria-label="Twitter" />
        </MudTooltip>
        <MudTooltip Text="LinkedIn" Delay="@ExternalHyperlinkTooltipDelay">
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Href="https://www.linkedin.com/in/christianhinko/" Target="_blank" Size="@ExternalHyperlinkIconButtonSize" aria-label="LinkedIn" />
        </MudTooltip>
    </div>
    <!-- Copyright notice -->
    <MudText Typo="@Typo.body1" Align="@Align.Center">
        Copyright © 2023 Christian Hinkle.
    </MudText>
</div>

@code
{
    private Size ExternalHyperlinkIconButtonSize { get; set; } = Size.Large;
    private double ExternalHyperlinkTooltipDelay { get; set; } = 2000.0;
}
