@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="@Color.Primary" Elevation="1">
        <MudLink Class="me-4" Color="@Color.Default" Underline="@Underline.None" Href="/"> <!-- Use Color.Default to override MudLink from changing the color to Color.Primary -->
            <MudText Typo="@Typo.h5">Christian Hinkle</MudText>
        </MudLink>
        <div class="d-inline-flex flex-row gap-4">
            <MudButton Variant="@Variant.Text" Href="/portfolio">
                <MudText>Portfolio</MudText>
            </MudButton>
            <MudButton Variant="@Variant.Text" Href="/resume">
                <MudText>Résumé</MudText>
            </MudButton>
        </div>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Outlined.DarkMode" Edge="@Edge.End" /> <!-- Use Edge.End to align the icon (instead of the outer button) to the end edge --!>
    </MudAppBar>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
    <MudScrollToTop>
        <MudFab Icon="@Icons.Material.Filled.ArrowUpward" />
    </MudScrollToTop>
</MudLayout>
