<div class="d-flex flex-column gap-8 py-4">
    <!-- External hyperlinks -->
    <MudGrid Class="mud-width-full" Justify="@Justify.Center" Spacing="0">
        <MudItem Class="@("ma-0 pa-0 " + HyperlinkIconButtonsWrapperClass)" md="6" sm="12">
            <CHHyperlinkIconButton Name="GitHub" Icon="@Icons.Custom.Brands.GitHub" Href="@Classes.SocialMedia.GitHubProfileUrl" />
            <CHHyperlinkIconButton Name="LinkedIn" Icon="@Icons.Custom.Brands.LinkedIn" Href="@Classes.SocialMedia.LinkedInProfileUrl" />
            <CHHyperlinkIconButton Name="Twitter" Icon="@Icons.Custom.Brands.Twitter" Href="https://twitter.com/ChristianHinko" />
            <CHHyperlinkIconButton Name="Instagram" Icon="@Icons.Custom.Brands.Instagram" Href="https://www.instagram.com/christianhinko/" />
            <CHHyperlinkIconButton Name="Facebook" Icon="@Icons.Custom.Brands.Facebook" Href="https://www.facebook.com/ChristianHinko/" />
            <CHHyperlinkIconButton Name="YouTube" Icon="@Icons.Custom.Brands.YouTube" Href="@("https://www.youtube.com/@ChristianHinko")" />
            <CHHyperlinkIconButton Name="Twitch" Icon="@MBELIcons.Brands.Twitch" Href="https://www.twitch.tv/christianhinko" />
        </MudItem>
        <MudItem Class="@("ma-0 pa-0 " + HyperlinkIconButtonsWrapperClass)" md="6" sm="12">
            <CHHyperlinkIconButton Name="TikTok" Icon="@Icons.Custom.Brands.TikTok" Href="@("https://www.tiktok.com/@christianhinko")" />
            <CHHyperlinkIconButton Name="ArtStation" Icon="@MBELIcons.Brands.ArtStation" Href="https://www.artstation.com/christianhinko" />
            <CHHyperlinkIconButton Name="DeviantArt" Icon="@MBELIcons.Brands.DeviantArt" Href="https://www.deviantart.com/christianhinko" />
            <CHHyperlinkIconButton Name="Pixiv" Icon="@MBELIcons.Brands.Pixiv" Href="https://www.pixiv.net/users/88014865" />
            <CHHyperlinkIconButton Name="Reddit" Icon="@Icons.Custom.Brands.Reddit" Href="https://www.reddit.com/user/ChristianHinko" />
            <CHHyperlinkIconButton Name="Pinterest" Icon="@Icons.Custom.Brands.Pinterest" Href="https://www.pinterest.com/ChristianHinko/" />
            <CHHyperlinkIconButton Name="Tumblr" Icon="@MBELIcons.Brands.Tumblr" Href="https://www.tumblr.com/blog/christianhinko" />
        </MudItem>
    </MudGrid>
    <!-- Copyright notice -->
    <MudText Typo="@Typo.body1" Align="@Align.Center">
        Copyright © 2023 Christian Hinkle.
    </MudText>
</div>

@code
{
    private string HyperlinkIconButtonsWrapperClass = "d-flex flex-row justify-space-around";
}
