@using CHWebApplication.Types

<div style="margin-top: 100px;">
    <header>
        <MudText Class="ch-header-text" Typo="@Typo.h1">
            @Post.Title
        </MudText>
        <MudText Class="ch-subheader-text" Typo="@Typo.subtitle1">
            @Post.Subtitle
        </MudText>
    </header>
    <div class="mt-4">
        <MudImage Class="mud-width-full" Src="@Post.ImageSrc" />
    </div>
</div>
<div style="margin-top: 50px;">
    <MudText Typo="@Typo.h5" Align="@Align.End">
        @Post.Date.ToString("MMMM d, yyyy")
    </MudText>
</div>
<MudDivider Class="my-2" Vertical="false" />

@code
{
    [Parameter]
    public CHPost Post { get; set; }
}
