@using CHWebApplication.Types

<div class="my-16">
    <header>
        <MudText Class="ch-header-text" Typo="@Typo.h1">
            @Post.Title
        </MudText>
        <MudText Class="ch-subheader-text" Typo="@Typo.subtitle1">
            @Post.Subtitle
        </MudText>
    </header>
</div>
<div class="my-4">
    <MudImage Class="mud-width-full rounded" Style="aspect-ratio: 16 / 9;" Src="@Post.ImageSrc" ObjectFit="@ObjectFit.Cover" />
</div>
<MudText Typo="@Typo.h5" Align="@Align.End">
    @Post.Date.ToString("MMMM d, yyyy")
</MudText>
<MudDivider Class="my-2" Vertical="false" />

@code
{
    [Parameter]
    public CHPost Post { get; set; }
}
