<div class="d-flex flex-column gap-8 py-4">
    <!-- External hyperlinks -->
    <div class="d-flex flex-row justify-space-around">
        <CHHyperlinkIconButton Name="GitHub" Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/ChristianHinko" />
        <CHHyperlinkIconButton Name="Twitter" Icon="@Icons.Custom.Brands.Twitter" Href="https://twitter.com/ChristianHinko" />
        <CHHyperlinkIconButton Name="LinkedIn" Icon="@Icons.Custom.Brands.LinkedIn" Href="https://www.linkedin.com/in/christianhinko/" />
    </div>
    <!-- Copyright notice -->
    <MudText Typo="@Typo.body1" Align="@Align.Center">
        Copyright © 2023 Christian Hinkle.
    </MudText>
</div>
