<MudPaper id="@Id" Class="mud-width-full">
    <div class="d-lg-flex flex-row"> <!-- only use flex display on lg screen sizes and up -->
        <div>
            <div class="rounded" style="height: 400px; aspect-ratio: 4 / 3; overflow: hidden;">
                @Media
            </div>
        </div>
        <div class="mud-width-full pa-4">
            <MudText Typo="@Typo.h3">
                @Title
            </MudText>
            <div style="height: 10px;"></div>
            <CHInfoChip>
                <MudText Typo="@Typo.body1">
                    @ProjectStatus
                </MudText>
            </CHInfoChip>
            <CHInfoChip>
                <MudText Typo="@Typo.body1">
                    Development Time: @DevelopmentTime
                </MudText>
            </CHInfoChip>
            <CHInfoChip>
                <MudText Typo="@Typo.body1">
                    Team Size: @TeamSize
                </MudText>
            </CHInfoChip>
            <div style="height: 10px;"></div>
            @Description
            <div style="height: 10px;"></div>
            <MudButton Href="@ProjectHref" Target="_blank" Variant="@Variant.Filled" DisableElevation="true">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" />
                <div style="width: 10px;"></div>
                <MudText Typo="@Typo.body1">
                    Source Available on GitHub
                </MudText>
            </MudButton>
        </div>
    </div>
    <div class="mud-width-full pa-4">
        <MudText Typo="@Typo.h4">
            Contributions
        </MudText>
        @Contributions
    </div>
</MudPaper>

@code
{
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ProjectHref { get; set; }

    [Parameter]
    public int TeamSize { get; set; }

    [Parameter]
    public string ProjectStatus { get; set; }

    [Parameter]
    public string DevelopmentTime { get; set; }

    [Parameter]
    public RenderFragment Media { get; set; }

    [Parameter]
    public RenderFragment Description { get; set; }

    [Parameter]
    public RenderFragment Contributions { get; set; }
}
