@page "/games/resume"

<PageTitle>ChristianHinkle_Resume</PageTitle>

<div class="relative mud-width-full">
    <CHDownloadPDFButton Class="absolute" Style="left: 10px; top: 10px"></CHDownloadPDFButton>
</div>
<CHPaperDocumentContainer>
    <!-- Resume header -->
    <MudText Class="ch-resume-header-text" Typo="@Typo.h1" Align="@Align.Center">
        Christian Hinkle
    </MudText>
    <MudText Class="ch-resume-subheader-text" Typo="@Typo.subtitle1" Align="@Align.Center">
        Unreal Engine | Online Multiplayer | C++
    </MudText>
    <div class="my-2">
        <!-- Contact information -->
        <div class="mud-width-full d-flex flex-row justify-space-around">
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@MBELIcons.Material.EarthAmericasClassicSolid" Color="@Color.Primary" Size="@Size.Small" />
                <div style="width: 6px;"></div>
                <MudLink Href="https://christianhinkle.com/games" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        https://christianhinkle.com/games
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@Icons.Material.Filled.Email" Color="@Color.Primary" />
                <div style="width: 6px;"></div>
                <MudLink Href="mailto:christianhinko@gmail.com" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        christianhinko@gmail.com
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Color="@Color.Primary" />
                <div style="width: 6px;"></div>
                <MudLink Href="https://www.linkedin.com/in/christianhinko/" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        in/christianhinko
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Color="@Color.Primary" />
                <div style="width: 6px;"></div>
                <MudLink Href="https://github.com/ChristianHinko" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        ChristianHinko
                    </MudText>
                </MudLink>
            </div>
        </div>
    </div>
    <!-- Resume content -->
    <CHResumeSection Title="Education" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Bachelor of Science in Computer Science
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                August, 2020 - May, 2023
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Class="ch-resume-text" Typo="@Typo.body1">
        <CHTextIndent IndentationLevel="1" />Charleston Southern University - 3.5 GPA
    </MudText>
    <MudText Class="ch-resume-text" Typo="@Typo.body1">
        <CHTextIndent IndentationLevel="1" />Studied: Data Structures, Calc 3, Algorithms, Computer Architecture, Operating Systems, Networking
    </MudText>
    <CHResumeSection Title="Professional Experience" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Dreamlit Games<MudIconButton Href="https://www.dreamlit.games/" Target="_blank" Size="@Size.Small" Icon="@MBELIcons.Material.LinkClassicSolid"></MudIconButton>
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                June, 2023 - May, 2025
            </MudText>
        </Date>
    </CHResumeItem>
    <CHResumeSection Title="Personal Projects and Open Source" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                GameCore Unreal Plugin<MudIconButton Href="https://github.com/b2hinkle/GameCore" Target="_blank" Size="@Size.Small" Icon="@MBELIcons.Material.LinkClassicSolid"></MudIconButton>
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                June, 2021 - Present
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Class="ch-resume-text" Typo="@Typo.body1">
        <CHTextIndent IndentationLevel="2" />Built a library of C++ utilities for Unreal Engine which is being used across a handful of game projects (including Towers of Aghasba).
    </MudText>
    <MudText Class="ch-resume-text" Typo="@Typo.body1">
        <CHTextIndent IndentationLevel="2" /><CHTextBullet />Encourages modern C++ practices by providing a concepts library for Unreal Engine classes.
    </MudText>
    <MudText Class="ch-resume-text" Typo="@Typo.body1">
        <CHTextIndent IndentationLevel="2" /><CHTextBullet />Minimizes free-store allocations from Unreal Engine types.
    </MudText>
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Modern CMake Template<MudIconButton Href="https://github.com/ChristianHinko/MeddySDK" Target="_blank" Size="@Size.Small" Icon="@MBELIcons.Material.LinkClassicSolid"></MudIconButton>
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                September, 2023 - August, 2024
            </MudText>
        </Date>
    </CHResumeItem>
    <MudText Class="ch-resume-text" Typo="@Typo.body1">
        <CHTextIndent IndentationLevel="2" />Consolidated the best practices of modern CMake into a collection of C++ projects named "MeddySDK". Consists of an executable project and a few static library projects which it depends on. This also demonstrates how to add third-party libraries as dependencies, such as the Boost C++ Libraries.
    </MudText>
    <CHResumeSection Title="Skills" />
    <div class="mud-width-full d-flex flex-row justify-space-around">
        <div class="d-flex flex-column align-center">
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Programming Languages
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                C++
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                C#
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                CMake
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Blueprint Visual Scripting
            </MudText>
        </div>
        <div class="d-flex flex-column align-center">
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Software
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Unreal Engine
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                PlayStation SDK
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Perforce
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Git
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Jira
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                BugSplat
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Blender
            </MudText>
        </div>
        <div class="d-flex flex-column align-center">
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                General
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Multiplayer
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                DevKit (PS5)
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Tooling and Cheats
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Test Automation
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Debugging (IDE)
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Performance Profiling
            </MudText>
        </div>
        <div class="d-flex flex-column align-center">
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Other
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                PC Building
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Playtesting and Bug Reporting
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                3D Math
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                3D Modeling
            </MudText>
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Drawing
            </MudText>
        </div>
    </div>
</CHPaperDocumentContainer>
