@page "/games/resume"

<PageTitle>ChristianHinkle_Resume</PageTitle>

<div class="relative mud-width-full">
    <CHDownloadPDFButton Class="absolute" Style="left: 10px; top: 10px;"></CHDownloadPDFButton>
</div>
<CHPaperDocumentContainer>
    <!-- Resume header -->
    <MudText Class="ch-resume-header-text" Typo="@Typo.h1" Align="@Align.Center">
        Christian Hinkle
    </MudText>
    <MudText Class="ch-resume-subheader-text" Typo="@Typo.subtitle1" Align="@Align.Center">
        Unreal Engine | Online Multiplayer | C++
    </MudText>
    <div class="my-2">
        <!-- Contact information -->
        <div class="mud-width-full d-flex flex-row justify-space-around">
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@MBELIcons.Material.EarthAmericasClassicSolid" Color="@Color.Primary" Size="@Size.Small" />
                <div style="width: 6px;"></div>
                <MudLink Href="https://christianhinkle.com/games" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        https://christianhinkle.com/games
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@Icons.Material.Filled.Email" Color="@Color.Primary" />
                <div style="width: 6px;"></div>
                <MudLink Href="@Classes.SocialMedia.EmailAddressHyperlink" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        @Classes.SocialMedia.EmailAddress
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Color="@Color.Primary" />
                <div style="width: 6px;"></div>
                <MudLink Href="@Classes.SocialMedia.LinkedInProfileUrl" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        @Classes.SocialMedia.LinkedInProfileUsernamePretty
                    </MudText>
                </MudLink>
            </div>
            <div class="d-flex flex-row justify-center align-center">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Color="@Color.Primary" />
                <div style="width: 6px;"></div>
                <MudLink Href="@Classes.SocialMedia.GitHubProfileUrl" Target="_blank" Underline="@Underline.Always">
                    <MudText Class="ch-resume-info-text" Typo="@Typo.body1">
                        @Classes.SocialMedia.GitHubProfileUsernamePretty
                    </MudText>
                </MudLink>
            </div>
        </div>
    </div>
    <!-- Resume content -->
    <CHResumeSection Title="Education" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Bachelor of Science in Computer Science
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                August, 2020 - May, 2023
            </MudText>
        </Date>
    </CHResumeItem>
    <ul style="list-style-type: none;">
        <li class="d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Charleston Southern University - 3.5 GPA
            </MudText>
        </li>
        <li class="d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                Studied: Data Structures, Calc 3, Algorithms, Computer Architecture, Operating Systems, Networking
            </MudText>
        </li>
    </ul>
    <CHResumeSection Title="Professional Experience" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Dreamlit Games<MudIconButton Href="https://www.dreamlit.games/" Target="_blank" Size="@Size.Small" Icon="@MBELIcons.Material.LinkClassicSolid"></MudIconButton>
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                June, 2023 - May, 2025
            </MudText>
        </Date>
    </CHResumeItem>
    <ul style="list-style-type: none;">
        <li class="d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <ul style="list-style-type: none;">
                <li class="d-flex flex-row">
                    <CHIndentBlock IndentationLevel="1" />
                    <MudText Class="ch-resume-text" Typo="@Typo.body1">
                        Shipped PS5 title Towers of Aghasba, developing for 2 years in both pre-launch and post-launch phases.
                    </MudText>
                </li>
            </ul>
        </li>
        <li class="mud-width-full d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <div>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    <span class="ch-resume-item-category-text">Multiplayer - </span>Refactored existing game systems to support multiplayer.
                </MudText>
                <ul style="list-style-type: none;">
                    <li class="mud-width-full d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Implemented the core network replication code used by all game systems.
                        </MudText>
                    </li>
                    <li class="mud-width-full d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Optimized network bandwidth overhead (delta-based replication, variable-length serialization, local ID mapping).
                        </MudText>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mud-width-full d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <div>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    <span class="ch-resume-item-category-text">Developer Tools - </span>Streamlined and automated workflows for the rest of the team (artists, designers, and QA).
                </MudText>
                <ul style="list-style-type: none;">
                    <li class="mud-width-full d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Generate assets with custom editor and command-line tools.
                        </MudText>
                    </li>
                    <li class="mud-width-full d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Sped up QA testing with custom runtime tools (cheats) and console command auto-completion.
                        </MudText>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <CHResumeSection Title="Personal Projects and Open Source" />
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                GameCore Unreal Plugin<MudIconButton Href="https://github.com/b2hinkle/GameCore" Target="_blank" Size="@Size.Small" Icon="@MBELIcons.Material.LinkClassicSolid"></MudIconButton>
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                June, 2021 - May, 2025
            </MudText>
        </Date>
    </CHResumeItem>
    <ul style="list-style-type: none;">
        <li class="d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <div>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    <CHIndentBlockInline IndentationLevel="1" />Built a library of C++ utilities for Unreal Engine which is being used across a handful of game projects (including Towers of Aghasba).
                </MudText>
                <ul style="list-style-type: none;">
                    <li class="d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Encourage modern C++ practices, providing a concepts library for the Unreal Engine API.
                        </MudText>
                    </li>
                    <li class="d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Enforce safer C++ code by implementing asserted cast functions and USTRUCT downcast functions.
                        </MudText>
                    </li>
                    <li class="d-flex flex-row">
                        <CHIndentBlock IndentationLevel="1" />
                        <MudText Class="ch-resume-text" Typo="@Typo.body1">
                            <CHBulletText />Minimize the usage of costly free-store (heap) allocations caused by the engine's code.
                        </MudText>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <CHResumeItem>
        <Title>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Modern CMake Template<MudIconButton Href="https://github.com/ChristianHinko/MeddySDK" Target="_blank" Size="@Size.Small" Icon="@MBELIcons.Material.LinkClassicSolid"></MudIconButton>
            </MudText>
        </Title>
        <Date>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                September, 2023 - August, 2024
            </MudText>
        </Date>
    </CHResumeItem>
    <ul style="list-style-type: none;">
        <li class="d-flex flex-row">
            <CHIndentBlock IndentationLevel="1" />
            <MudText Class="ch-resume-text" Typo="@Typo.body1">
                <CHIndentBlockInline IndentationLevel="1" />Consolidated the best practices of modern CMake into a collection of C++ projects named "MeddySDK". Consists of an executable project and a few static library projects which it depends on. This also demonstrates how to add third-party libraries as dependencies, such as the Boost C++ Libraries.
            </MudText>
        </li>
    </ul>
    <CHResumeSection Title="Skills" />
    @{
        const string SkillGridStyle = "display: grid; grid-auto-flow: column; column-gap: 10px; grid-template-rows: repeat(3, minmax(0, 1fr));";
    }
    <div class="mud-width-full d-flex flex-row justify-space-between" style="text-wrap: nowrap;">
        <div>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Languages
            </MudText>
            <div style="@SkillGridStyle">
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    C++
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    C#
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    CMake
                </MudText>
            </div>
        </div>
        <div>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                Software
            </MudText>
            <div style="@SkillGridStyle">
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Unreal Engine
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    PlayStation SDK
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Perforce and Git
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Jira
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    BugSplat
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Blender
                </MudText>
            </div>
        </div>
        <div>
            <MudText Class="ch-resume-item-text" Typo="@Typo.body1">
                General
            </MudText>
            <div style="@SkillGridStyle">
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Multiplayer
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    DevKit (PS5)
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Developer Tools
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Test Automation
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Debugging (IDE)
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Profiling
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Playtesting
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    3D Math
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    3D Modeling
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    PC Building
                </MudText>
                <MudText Class="ch-resume-text" Typo="@Typo.body1">
                    Drawing
                </MudText>
            </div>
        </div>
    </div>
</CHPaperDocumentContainer>
