@using ChristianHinko.Services
@inject ICHPostInfoService PostInfoService
@using ChristianHinko.Types
@using ChristianHinko.Shared.Components.Post

<div>
    <div class="d-flex flex-row align-center">
        <MudText Typo="@Typo.h2">Newest Posts</MudText>
        <MudSpacer />
        <MudButton Href="/posts" Variant="@Variant.Text">
            <MudText Typo="@Typo.subtitle1">
                All Posts
            </MudText>
        </MudButton>
    </div>
    <MudDivider Vertical="false" />
    <div style="height: 10px;"></div>
    <MudGrid>
        @foreach (CHPostInfo postInfo in PostInfoService.PostInfos.AsEnumerable().Reverse().Take(3))
        {
            <MudItem xs="@(12 / 3)">
                <CHPostCard PostInfo="@postInfo" />
            </MudItem>
        }
    </MudGrid>
    <div style="height: 10px;"></div>
    <MudDivider Vertical="false" />
</div>
