@using ChristianHinko.Classes

<MudCard>
    <MudLink Href="@PostInfo.GetHref()">
        <MudCardMedia Image="@PostInfo.ImageSrc" Height="225" />
    </MudLink>
    <MudCardContent>
        <MudLink Href="@PostInfo.GetHref()" Color="@Color.Default" Underline="@Underline.Hover">
            <MudText Style="font-weight: bold;" Typo="@Typo.h6">
                @PostInfo.Title
            </MudText>
        </MudLink>
        <MudText Typo="@Typo.subtitle1">
            @PostInfo.Subtitle
        </MudText>
        <div style="height: 20px;"></div>
        <MudText Typo="@Typo.body2">
            @PostInfo.Date.ToString("yyyy-MM-dd")
        </MudText>
    </MudCardContent>
</MudCard>

@code
{
    [Parameter]
    public CHPostInfo PostInfo { get; set; }
}
